@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=MuseoModerno:wght@400&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'MuseoModerno', cursive;
}

html, body {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header-bg {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-bg {
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-bg {
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#portfolio img {
    width: 100%;
}