/********** FILE IMPORTS **********/
/*************************************/

@import url('bootstrap.css');
@import url('fonts.css');




/**********GENERAL **********/
/*************************************/
.container-fluid{
  font-family: 'Roboto', sans-serif;
  color: white;
}
/*************ROW 1**********/
/***************************/
.bg-steps{
background-image: url("../assets/backgrounds/h_img.jpg");
background-size: cover;
text-align: center;

}
.header1{
  margin-top: 20px;
  margin-left:45%;
  margin-bottom: 35px;
}
.header2{
  margin-left: 40%;
  margin-bottom: 35px;
}
.header3{
  margin-left: 34%;
  margin-bottom: 35px;
}
.header4{
  margin-left: 25%;
  margin-bottom: 30px;
}
.header5{
  margin-left: 47%;
  margin-top: 60px;
  margin-bottom: 60px;
}





/********** PORTFOLIO PAGE **********/
/*************************************/







/********** ABOUT PAGE **********/
/*************************************/
